

.glider-slide img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.glider-slide:first-child {
margin-left: 0 !important;
}

.glider-slide {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.glider-contain{
  width: 50vw;
  margin-left: 2rem;
  max-width: 550px;
}

.glider-contain button{
  position: static !important; 
  color: #E53A31;
}